@charset "UTF-8";

/* VISUAL - S */
.visual-slick li{
  width: 100%; height: 850px;
  padding: 450px 0 0 200px;
  background: no-repeat center center;
}
.visual-slick li:nth-child(1){background-image: url(../img/v01.png);}
.visual-slick li:nth-child(2){background-image: url(../img/v02.png);}
.visual-slick li:nth-child(3){background-image: url(../img/v03.png);}
.visual-slick li h3{
  font-size: 7rem; line-height: 1.5; color: #fff;
  margin-bottom: 20px;
  position: relative;
}
.visual-slick li h3::before{content: "";
  display: block;
  width: 2px; height: 120px;
  background-color: rgba(255,255,255,0.5);
  position: absolute; left: -30px; top: 25px;
}
.visual-slick li p{font-size: 16px; color: #fff;}
.visual .slick-dots{bottom: 50px;}
.visual .slick-dots li{background-image: none;}
.visual .slick-dots li button::before{color: #fff;}
.visual .slick-dots li.slick-active button:before{color: #fff;}
/* VISUAL - E */
/* GROWING - S */
.growing{display: flex; justify-content: space-between;}
.growing .sec-header{width: 400px;}
.growing-wrap{width: 810px;}
.growing-article{
  width: fit-content;
  position: relative;
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
}
.growing-article:nth-child(2){transform: translateX(420px); margin-top: -30px;}
.growing-article:nth-child(3){margin-top: -30px;}
.growing-article strong{
  font-weight: 700; font-size: 24px; line-height: 1.3; color: #fff;
  position: absolute; left: 30px; bottom: 30px;
}
.growing-article figure{width: 390px;}
.growing-article figure img{width: 100%;}
/* GROWING - E */
/* TECHNOLOGY - S */
.technology{
  background: url(../img/tecnology-bg.png) no-repeat center center / cover;
  position: relative; z-index: -2;
}
.technology::before{content: "";
  display: block;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: absolute; left: 0; top: 0; z-index: -1;
}
.technology .sec-header{text-align: center;}
.technology .sec-header .tit{color: #fff;}
.technology .sec-header .desc{color: #fff;}
.technology-wrap{display: flex; justify-content: space-between;}
.technology-list{display: flex; flex-direction: column;}
.technology-list + .technology-list{margin-left: 40px;}
.technology-list h4{font-weight: 500; font-size: 18px; color: #fff; text-align: center;}
.technology-list figure{order: -1;margin-bottom: 30px;}
.technology-list figure img{width: 100%;}
/* TECHNOLOGY - E */
/* PRODUCT - S */
.product{position: relative;}
.product .sec-header{position: absolute; left: 0; top: 150px; z-index: 10;}
.product-wrap{display: flex; justify-content: space-between; align-items: flex-end;}
.product-wrap figure img{width: 100%;}
.product-slick-nav{width: calc(40% - 20px);}
.product-slick-nav li{width: 33%; transition: all 0.3s;}
.product-slick-nav li.slick-center{transform: scale(120%); box-shadow: 0 0 5px 3px rgba(0,0,0,0.1);}
.product-slick-nav li figure{width: 100%;}

.product-slick{width: 60%;}

.product .slick-track{padding: 20px 0;}
.product .slick-prev:before , .product .slick-next:before{display: none;}
.product .slick-dots{bottom: 200px;}
.product .slick-dots li{display: none; width: 100%; height: 30px;}
.product .slick-dots li.slick-active{display: block;}
.product .slick-dots li button{width: 100%; height: 30px;}
.product .slick-dots li button:before{
  width: 100%; height: 30px;
  font-family: 'Noto Sans KR', '돋움', Dotum, AppleGothic, sans-serif; font-weight: 700; font-size: 2.4rem; text-align: left;
}
.product .slick-dots li:nth-child(1) button:before{content: "Gigawire 2.0 Access +Solution for Last Mile";}
.product .slick-dots li:nth-child(2) button:before{content: "CPRI / e-CPRI DWDM 25G 트랜시버";}
.product .slick-dots li:nth-child(3) button:before{content: "XGSPON STICK";}
.product .slick-dots li:nth-child(4) button:before{content: "ZX300 - XGSPON SOC";}
/* PRODUCT - E */
/* CLIENTS - S */
.clients{background: url(../img/clients-bg.png) no-repeat center center;}
.clients .sec-header{text-align: center;}
.clients .sec-header .tit{color: #fff;}
.clients .sec-header .desc{color: #fff;}
.clients-wrap{display: flex; justify-content: space-between; flex-wrap: wrap;}
.clients-list{
  display: flex; justify-content: center; align-items: center;
  width: calc((100% - 80px) / 5); height: 100px;
  border: 1px solid rgba(255,255,255,0.5); border-radius: 10px;
  transition: all 0.3s;
}
.clients-list:nth-child(n):nth-child(-n+5){margin-bottom: 20px;}
.clients .more{
  display: flex; justify-content: center;
  margin-top: 50px;
}
.clients .more a{
  display: flex; justify-content: center; align-items: center;
  width: 200px; height: 60px;
  font-size: 18px; color: #fff;
  border: 1px solid rgba(255,255,255,0.5); border-radius: 30px;
}
.clients-list:hover{background-color: rgba(255,255,255,0.3);}
/* CLIENTS - E */
/* NOTICE - S */
.notice{display: flex; justify-content: space-between;}
.notice .sec-header{
  width: 30%;
  padding: 0 20px;
}
.notice-slick{width: 70%;}
.notice-slick li{border: 1px solid #eee;}
.notice-slick li a{
  display: block;
  padding: 60px 30px;
  transition: all 0.5s;
}
.notice-slick li a strong{
  display: block;
  margin-bottom: 30px;
  font-weight: 700; font-size: 2.4rem; color: #333;
  overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}
.notice-slick li a p{
  display: -webkit-box;
  margin-bottom: 50px;
  font-size: 18px; line-height: 1.2; color: #555;
  overflow: hidden; text-overflow: ellipsis; word-break: break-word; -webkit-line-clamp: 2; -webkit-box-orient: vertical;
}
.notice .slick-prev:before{display: none;}
.notice .slick-next:before{display: none;}
.notice-slick li a:hover{background-color: #7af;}
.notice-slick li a:hover strong , .notice-slick li a:hover p , .notice-slick li a:hover span{color: #fff;}
/* NOTICE - E */