@charset "UTF-8";

/*********** 1550 ***********/
@media (max-width: 1580px) {
  .inner{width: 100%;padding-right: 30px;padding-left: 30px;}
}

/*********** 1280 ~ 781 ***********/
@media (max-width: 1280px) {
  html{font-size: 8px;}
  /* HEADER - S */
  .header{justify-content: space-between;}
  /* gnb */
  .gnb{display: none;}
  /* tnb */
  .tnb{margin-right: 50px;}
  /* all-menu */
  .all-menu{display: block;}
  .all-menu-btn{display: block;}
  .all-menu-wrap{display: flex;}
  /* HEADER - E */
  /* VISUAL - S */
  .visual-slick li{
    height: 700px;
    padding: 400px 0 0 100px;
  }
  .visual-slick li h3::before{height: 95px;}
  .visual .slick-dots{bottom: 50px;}
  .visual .slick-dots li{background-image: none;}
  .visual .slick-dots li button::before{color: #fff;}
  .visual .slick-dots li.slick-active button:before{color: #fff;}
  /* VISUAL - E */
  /* GROWING - S */
  .growing{display: block;}
  .growing .sec-header{
    width: 650px;
    margin-left: auto; margin-right: auto;
    text-align: center;
  }
  .growing-wrap{display: flex; justify-content: space-between; width: 100%;}
  .growing-article{width: calc((100% - 40px) / 3);}
  .growing-article:nth-child(2){transform: translateX(0); margin-top: 0;}
  .growing-article:nth-child(3){margin-top: 0;}
  .growing-article strong{
    font-weight: 700; font-size: 2.4rem; line-height: 1.3; color: #fff;
    position: absolute; left: 30px; bottom: 30px;
  }
  .growing-article figure{width: 100%}
  .growing-article + .growing-article{margin-left: 20px;}
  /* GROWING - E */
  /* TECHNOLOGY - S */
  .technology-list + .technology-list{margin-left: 20px;}
  /* TECHNOLOGY - E */
  /* PRODUCT - S */
  .product .sec-header{left: 30px;}
  .product .slick-dots{bottom: 150px;}
  /* PRODUCT - E */
  /* CLIENTS - S */
  .clients-list{
    width: calc((100% - 40px) / 5); height: 80px;
  }
  .clients-list:nth-child(n):nth-child(-n+5){margin-bottom: 10px;}
  .clients-list figure img{scale: 70%;}
  .clients .more{margin-top: 40px;}
  .clients .more a{
    width: 120px; height: 40px;
    font-size: 16px;
    border-radius: 20px;
  }
  /* CLIENTS - E */
  /* NOTICE - S */
  .notice{flex-direction: column; align-items: center;}
  .notice .sec-header{width: 100%; text-align: center;}
  .notice-slick{width: 100%;}
  /* NOTICE - E */
  /* FOOTER - S */
  .f-wrap{flex-direction: column;}
  .f-add{width: 100%; margin-bottom: 20px;}
  /* FOOTER - E */
}

/*********** 780 ~ 360 ***********/
@media (max-width: 780px) {
  html{font-size: 6px;}
  .sec{padding: 80px 16px;}
  .sec-header{text-align: center;}
  .desc{display: none;}
  /* HEADER - S */
  .header{justify-content: space-between; padding: 0 16px;}
  /* gnb */
  .gnb{display: none;}
  /* tnb */
  .tnb{display: none;}
  /* all-menu */
  .all-menu-wrap{width: 100%; padding: 80px 0 0;}
  .all-menu-wrap .depth1{width: 100%; height: unset; text-align: center; box-shadow: none;}
  .all-menu-wrap .depth2 li + li{border: 0;}
  .all-menu-wrap .depth2 li a{line-height: 25px;}

  /* HEADER - E */
  /* VISUAL - S */
  .visual-slick li{
    height: 500px;
    padding: 250px 16px 0;
    text-align: center;
  }
  .visual-slick li h3::before{display: none;}
  .visual-slick li p{display: none;}
  .visual .slick-dots{display: none !important;}
  .visual .slick-arrow{display: none !important;}
  /* VISUAL - E */
  /* GROWING - S */
  .growing .sec-header{
    width: 100%;
    margin: 0 0 50px;
  }
  .growing-wrap{display: block;}
  .growing-article{width: 100%; height: 200px; overflow: hidden;}
  .growing-article strong{
    font-size: 20px;
    position: absolute; left: 30px; bottom: 110px;
  }
  .growing-article + .growing-article{margin: 20px 0 0;}
  .growing-article figure img{width: 100%;}
  /* GROWING - E */
  /* TECHNOLOGY - S */
  .technology .sec-header{margin-bottom: 30px;}
  /* .technology-wrap{flex-direction: column; align-items: center;}
  .technology-list{
    width: calc(30% + 120px);
    position: relative;
  } */
  .technology-wrap{justify-content: center; flex-wrap: wrap;}
  .technology-list{
    width: 50%;
    position: relative;
  }
  .technology-list + .technology-list{margin: 30px 0 0;}
  .technology-list h4{position: absolute; left: 50%; top: 50%;transform: translate(-50%,-50%);}
  .technology-list figure{margin-bottom: 0;}
  /* TECHNOLOGY - E */
  /* PRODUCT - S */
  .product .sec-header{position: static;}
  .product-wrap{flex-direction: column; align-items: center;}
  .product-slick-nav{order: 1; width: 100%;}
  .product-slick{width: 100%;}
  .product .slick-dots li.slick-active{display: none;}
  /* PRODUCT - E */
  /* CLIENTS - S */
  .clients-list{width: calc((100% - 10px) / 2);}
  .clients-list:nth-child(n+3):nth-child(-n+7){margin-bottom: 10px;}
  .clients-list figure img{scale: 60%;}
  /* CLIENTS - E */
  /* NOTICE - S */
  .notice{overflow: hidden;}
  .notice-slick{width: 300%;}
  .notice-slick li a{padding: 60px 10px;}
  /* NOTICE - E */
  /* FOOTER - S */
  .footer .inner{flex-direction: column; align-items: center;}
  .f-logo{margin: 0 0 30px;}
  .f-wrap{flex-direction: column; width: 100%;}
  .f-add{justify-content: center; width: 100%; margin-bottom: 20px;}
  .f-add li{text-align: center;}
  .f-copy{width: 100%; text-align: center;}
  /* FOOTER - E */
}